/*defaults to large screens*/
/*variable declaration*/
:root {
	--header_fill: #fff;
	--pagecontainer_fill: #ffffffc0;
	
	--dropdown_fill: #ffffff00;
	--dropdownselected_fill: #ffffffa0;
	
	--textcolor: #000;
	--acolor: #5500ff;
	--ahover: #bb44ff;
	--warn_text: #dd3322;
}

body {
	background-color: #674095; /*space: #404a95*/
	background-image: url('assets/bg_sparkleocean.png');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 18px;
	color: var(--textcolor);
}

/*font styling*/
h1, .h1 {
	font-family: 'Rubik';
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 1%;
}

h2, .h2 {
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 0.5%;
}

h3, .h3 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 1%;
}

p, .p {
	margin-top: 0px;
	margin-bottom: 1%;
}

a, .a { color: var(--acolor); }

a:hover, .a:hover, a:focus, .a:focus { color: var(--ahover); }

button {
	font-size: inherit;
}

button.nonbutton {
	border: 0px;
	padding: 0;
	background-color: transparent;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

.warn {
	color: var(--warn_text);
	font-weight: 900;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/*end font styling*/

div.page-container {
	background-color: var(--pagecontainer_fill);
	width: 80%;
	margin-left: auto; margin-right: auto;
}

.header {
	background-color: var(--header_fill);
	width: 100%;
	padding-top: 1%; margin-bottom: 1%;
}

.container.header {
	padding-left: 0; padding-right: 0;
}

.filter {
	
}

.container {
	padding-bottom: 0.5%; padding-top: 0.5%;
	padding-left: 3%; padding-right: 3%;
	margin-bottom: 1%;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

.btn-container {
	list-style: none;
	padding: 0px;
	justify-content: center;
	gap: 1%;
	margin: 0px;
}

/*projects page stuff*/
#filter {
	justify-content: center;
	gap: 0.5%;
}

.project-container {
	margin-left: 10%; margin-right: 10%;
}

.project-info {
	justify-content: space-between;
	width: 100%;
}

.project-info .project-img {
	width: 23%;
}

.project-info .project-blurb {
	width: 73%;
}

.pair {
	justify-content: center;
	gap: 1.5%;
	width: 100%;
	margin-bottom: 0.5%;
}

.pair > * {
	flex: 1 1 50%;
	margin: 0;
}
/*
.pair > *:first-child {
	text-align: right;
}

.pair > *:last-child {
	text-align: left;
}
*/
.v-divider {
	width: 0; max-width: 0;
	border-left: 1px solid var(--textcolor);
}

/*This style (confirm-required) will be put on anything that needs one to confirm they're 18+ and OK with potentially seeing mature content before they view the thing itself.
The div will have you click to confirm, so it should be hidden by default.*/
.confirm-required div {
	display: none;
}

img {
	width: 100%;
}

/*button styling*/
.btn {
	box-sizing: border-box;
	border: 1px solid var(--textcolor);
	padding: 1vw;
	color: inherit;
}

li {
	display: flex;
	text-align: center;
	align-self: center;
}

/*dropdowns - swiped from my bayartcounter v2 with some edits*/
.dropdown-holder {
	flex-direction: column;
	background-color: var(--dropdown_fill);
	transition: 2s;
}

.dropdown-holder.selected {
	background-color: var(--dropdownselected_fill);
}

/*v2's dropdowns/expand on click-s*/
.dropdown-holder > .dropdown-contents {
	/*styling for the dropdown content holder*/
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	max-height: 0vw;
	overflow: clip;
	
	transition: 2s;
}
.dropdown-holder.selected > .dropdown-contents {
	/*so we can set things to "selected" to keep them expanded*/
	max-height: 30vw;
}

.dropdown-holder.large.selected > .dropdown-contents {
	max-height: 80vw;
}

/*floating buttons*/
.btn.floating {
	position: absolute;
	top: 5px; right: 5px;
}

ul.stepguide {
	width: 70%;
	gap: 5%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

/*tablet/laptop (medium screens, 992px - 600px)*/
@media screen and (max-width: 992px) {
	div.page-container {
		width: 90%;
	}
	.row {
		flex-wrap: wrap;
	}
}

/*mobile phone (small screens, 600px or less)*/
@media screen and (max-width: 600px) {
	div.page-container {
		width: 100%;
	}
	
}